# For intercepting and updating falling block entities
public net.minecraft.entity.item.FallingBlockEntity field_175132_d # fallTile

# For generating new properties using commands
public net.minecraft.world.gen.feature.FeatureSpread field_242250_b         # base
public net.minecraft.world.gen.feature.FeatureSpread field_242251_c         # spread
public net.minecraft.world.gen.placement.ConfiguredPlacement field_215096_a # decorator

# For updating block properties with BlockPropertiesHelper
public net.minecraft.block.AbstractBlock$Properties field_200953_a  # material
public net.minecraft.block.AbstractBlock$Properties field_235800_b_ # materialColor
public net.minecraft.block.AbstractBlock$Properties field_200955_c  # blocksMovement
public net.minecraft.block.AbstractBlock$Properties field_200956_d  # soundType
public net.minecraft.block.AbstractBlock$Properties field_235803_e_ # lightLevel
public net.minecraft.block.AbstractBlock$Properties field_200958_f  # resistance
public net.minecraft.block.AbstractBlock$Properties field_200959_g  # hardness
public net.minecraft.block.AbstractBlock$Properties field_235806_h_ # requiresTool
public net.minecraft.block.AbstractBlock$Properties field_200960_h  # ticksRandomly
public net.minecraft.block.AbstractBlock$Properties field_200961_i  # slipperiness
public net.minecraft.block.AbstractBlock$Properties field_226893_j_ # speedFactor
public net.minecraft.block.AbstractBlock$Properties field_226894_k_ # jumpFactor
public net.minecraft.block.AbstractBlock$Properties field_222381_j  # lootTable
public net.minecraft.block.AbstractBlock$Properties field_226895_m_ # isSolid
public net.minecraft.block.AbstractBlock$Properties field_235813_o_ # isAir
public net.minecraft.block.AbstractBlock$Properties field_208772_j  # variableOpacity

# For reading block state values in SharedStateBlock
public net.minecraft.state.StateContainer$Builder field_206896_b # properties

# For manually serializing loot tables in preset files
public net.minecraft.loot.LootTableManager field_186526_b # GSON_INSTANCE

# For updating furnace recipes in memory
public net.minecraft.item.crafting.RecipeManager field_199522_d # recipes

# For adding new infested block types.
public net.minecraft.block.SilverfishBlock field_196470_b # normalToInfectedMap

# For updating mob spawned by OSV blocks.
public net.minecraft.entity.MobEntity field_70699_by # navigator

# For constructing a fake world to intercept block method calls.
public-f net.minecraft.world.World field_147484_a # addedTileEntityList
public-f net.minecraft.world.World field_147482_g # loadedTileEntityList
public-f net.minecraft.world.World field_175730_i # tickableTileEntities
public-f net.minecraft.world.World field_73012_v  # rand
public-f net.minecraft.world.World field_217407_c  # mainThread
public-f net.minecraft.world.World field_234916_c_ # isDebug
public-f net.minecraft.world.World field_234921_x_ # dimensionType
public-f net.minecraft.world.World field_72986_A   # worldInfo
public-f net.minecraft.world.World field_72984_F   # profiler
public-f net.minecraft.world.World field_72995_K   # isRemote
public-f net.minecraft.world.World field_175728_M  # worldBorder
public-f net.minecraft.world.World field_226689_w_ # biomeManager
public-f net.minecraft.world.World field_73011_w   # dimension
public-f net.minecraft.world.server.ServerWorld field_217498_x  # entitiesById
public-f net.minecraft.world.server.ServerWorld field_175741_N  # entitiesByUuid
public-f net.minecraft.world.server.ServerWorld field_217499_z  # entitiesToAdd
public-f net.minecraft.world.server.ServerWorld field_217491_A  # players
public-f net.minecraft.world.server.ServerWorld field_241102_C_ # chunk provider
public-f net.minecraft.world.server.ServerWorld field_73061_a   # server
public-f net.minecraft.world.server.ServerWorld field_241103_E_ # world info
public-f net.minecraft.world.server.ServerWorld field_85177_Q   # worldTeleporter
public-f net.minecraft.world.server.ServerWorld field_94579_S   # pendingBlockTicks
public-f net.minecraft.world.server.ServerWorld field_205342_P  # pendingFluidTicks
public-f net.minecraft.world.server.ServerWorld field_217495_I  # navigations
public-f net.minecraft.world.server.ServerWorld field_241105_O_ # dragonFightManager
public-f net.minecraft.world.server.ServerWorld field_241106_P_ # structureManager
